.user-show {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.user-projects-show {
  padding: 15px;
  justify-content: space-around;
}

.card {
  width: 300px;
}

.new-project-button {
  padding: 15px;
}

.add-skill-button {
  padding: 20px;
}
