.user-show {
  padding-top: 56px;
  display: flex;
  justify-content: space-between;
  .user-profile {
    display: flex;
    .info {
      padding: 0 32px;
      h2 {
        margin: 0;
      }
      p {
        margin: 16px 0;
      }
    }
  }
  .user-skills {
    h3 {
      margin: 0;
    }
  }
}

.section {
  border-bottom: 1px solid $light-gray;
  padding: 56px 0;
  h3 {
    margin: 0;
    margin-bottom: 24px;
  }
}

#last-section {
  border-bottom: none;
}

.user-projects {
  justify-content: space-around;
}

.card {
  width: 300px;
}

.new-project-button {
  padding: 15px;
}

