<div class="banner" style="background-image: url(<%= image_path('banner-new.jpg') %>)">
  <div class="banner-content">
    <h1>Git Legit</h1>
    <p>Find collaborators for your open-source project</p>
    <%= link_to "Start Now", new_project_path, class: "bttn-dark car-position" %>
  </div>
</div>
