<div class="banner" style="background-image: url(<%= image_path('banner.jpg') %>)">
  <div class="banner-content">
    <h1>Git Legit</h1>
    <p>Find collaborators for your open-source project</p>
    <a class="btn btn-primary btn-lg">Start now</a>
  </div>
</div>
