<div class="banner" style="background-image: url(<%= image_path('banner-new.jpg') %>)">
  <div class="banner-content">
    <h1>Git Legit</h1>
    <p>Find collaborators for your open-source project</p>
    <% if current_user %>
    <%= link_to "Create a Project", new_project_path, class: "bttn-dark car-position" %>
    <% else %>
    <%= link_to "Log In", new_user_session_path, class: "bttn-dark car-position" %>
    <% end %>
  </div>
</div>
