<div class="banner" style="background-image: url(<%= image_path('how.jpg') %>)">
  <div class="how-content">
    <h1>Open Source Is Supported By Everyone</h1>
    <p>This belief underlines the mission of the best OSS shops and developers. It pushes them to build new features and contribute these features back to the community. As a direct result, popular OSS projects are always on the cutting-edge of technology.</p>
  </div>
</div>
