<div class="banner" style="background-image: url(<%= image_path('how.jpg') %>)">
  <div class="banner-content">
    <h1></h1>
    <p>Open source is good for everyone. By being open and freely available, it enables and encourages collaboration and the development of technology, solving real world problems.</p>
  </div>
</div>
