.btn-primary {
  background-color: $light-gray;
  color: $dark-gray;
  border-color: $dark-gray;
}

.btn-primary:hover {
  opacity: 0.8;
  background-color: $light-gray;
  color: $dark-gray;
  border-color: $dark-gray;
}

