<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h1>Add some knowledge!</h1>
      <%= simple_form_for @knowledge do |f| %>
        <%= f.association :skill, collection: Skill.all, label_method: :name %>
        <%= f.input :level, collection: ["basic","intermediate","advanced"] %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
